.show {
    display: block;
    visibility: hidden;

 /*   transition: 800ms;
    opacity: 1; */
}
  
.show.active {
 /*   transform: translateY(100px) scale(0) rotateY(180deg);
    opacity: 0; */
    visibility: visible;
  }
  .signUpForm {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      background: #0000003f;
      height: 100vh;
      width: 100vw;
  }
  .signUpForm > form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
      min-width: 300px;
      height: 40vh;
      row-gap: 5px;
  }
  .signUpForm > form > .close {
      align-self: flex-end;
      font-weight: bold;
      color: #000;
      font-size: 60px;
  }
  .signUpForm > form > .close:hover {
      color: rgb(70, 88, 252);
      cursor: pointer;
  }
  .signUpForm > form input[type="text"],
  .signUpForm > form input[type="password"]{
    border-radius: 15px;
  /*  flex-basis: 20%; */
    flex-grow: 1;
    font-size: 24px;
    width: 60%;
}
.signUpForm > form button.signUp {
 /*   flex-basis: 20%; */
    flex-grow: 1;
    min-height: 50px;
    width: 60%;
}
.signUpForm > form button.signUp {
    background-color: #166fe5;
    border-color: #365899;
    border-radius: 6px;
    font-size: 20px;
    color: #fff;
}
.signUpForm > form button.signUp:hover {
    background-color: #365899;
    cursor: pointer;
}