div#root > div.navbar {
  position: fixed;
  bottom: 0px;
  left: 0px;
}
div#root > div.navbar > nav {
  display: flex; 
  column-gap: 10px;
  padding: 10px;
}
div#root > div.navbar > nav > a {
  font-size: 24px;
  text-decoration-color: rgb(0, 102, 204);
  color:rgb(0, 102, 204);
}
div#root > div.navbar > nav > a:hover {
  cursor: pointer;
}